<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>llm</title>
    <link type="text/css" rel="stylesheet" th:href="@{private/css/index.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{private/css/common.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{ui/AmazeUI-2.7.2/css/amazeui.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{js/jq1.12.1/jquery-ui.css}"/>
    <script type="text/javascript" th:src="@{js/jq1.12.1/external/jquery/jquery.js}"></script>
    <script type="text/javascript" th:src="@{js/jq1.12.1/jquery-ui.js}"></script>
    <script type="text/javascript" th:src="@{ui/AmazeUI-2.7.2/js/amazeui.js}"></script>
</head>
<body>
    欢迎来到社区动态！
</body>
<script>

</script>
</html>